*.o
.deps
*.a
src/dplus
config.log
config.status
stamp-*
fltk-browser
shapes
Makefile
config.h
test/dw-*-test
test/dw-example
test/dw-images-scaled
test/dw-images-scaled2
test/dw-images-simple
test/dw-links
test/dw-links2
test/dw-table
test/dw-table-aligned
test/dw-lists
